<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <form class="login_form" action="login" method="post">
      username:<input type="text" name="uname"><br/>
      password:<input type="password" name="pass"><br/>
      <input type="submit" name="submit"><br/><br/>
    </form>
    <form class="register_button" action="register" method="post">
      <center><input type="submit" name="signup" value="SIGN UP"/></center>
    </form>
  </body>
</html>
